@page "/"
@inject ISuperMercadoService<ImagenWebPage> servicioImagenes





@if (lst_imagen == null)
{

}
else
{
	<MudContainer MaxWidth=MaxWidth.Medium>



		<MudItem Class="mt-3">
			<MudCarousel @ref="_carousel" ItemsSource="@lst_imagen" Style="height:600px;" ShowArrows="true" ShowDelimiters="true" AutoCycle="true" AutoCycleTime="System.TimeSpan.FromSeconds(5)">
				<ItemTemplate>
					<div class="d-flex flex-column flex-column justify-center" style="height:100%">
						<RadzenImage Path="@context.Path"></RadzenImage>
					</div>
				</ItemTemplate>
			</MudCarousel>
		</MudItem>
	</MudContainer>

}


	






<AuthorizeView>


	<Authorized>
		PIPI
	</Authorized>
	<NotAuthorized>
		AY BOBO

	</NotAuthorized>

</AuthorizeView>

@code {
	private MudCarousel<ImagenWebPage> _carousel;





	private List<ImagenWebPage> lst_imagen { get; set; }


	protected override async Task OnInitializedAsync()
	{
		lst_imagen = await servicioImagenes.GetAllAsync("ImagesWeb/GetImages");



	}



}